{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Відвідування{% endblock %}
{% block title %}Облік відвідування{% endblock %}


{% block contetnt %}
    <div class="month-pagination">
        <nav aria-label="Month navigation">
            <a href="">&larr;</a>
            <label>Жовтень 2014</label>
            <a href="">&rarr;</a>
        </nav>
    </div>

    <table class="table table-hover table-striped table-condensed table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Студент</th>
            <th>Ср 1</th>
            <th>Чт 2</th>
            <th>Пт 3</th>
            <th>Сб 4</th>
            <th>Нд 5</th>
            <th>Пн 6</th>
            <th>Вт 7</th>
            <th>Ср 8</th>
            <th>Чт 9</th>
            <th>Пт 10</th>
            <th>Сб 11</th>
            <th>Нд 12</th>
            <th>Пн 13</th>
            <th>Вт 14</th>
            <th>Ср 15</th>
            <th>Чт 16</th>
            <th>Пт 17</th>
            <th>Сб 18</th>
            <th>Нд 19</th>
            <th>Пн 20</th>
            <th>Вт 21</th>
            <th>Ср 22</th>
            <th>Чт 23</th>
            <th>Пт 24</th>
            <th>Сб 25</th>
            <th>Нд 26</th>
            <th>Пн 27</th>
            <th>Вт 28</th>
            <th>Ср 29</th>
            <th>Чт 30</th>
            <th>Пт 31</th>
        </tr>
        <!--
                            <tr>
                                <th>#</th>
                                <th>Студент</th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
                                <th>9</th>
                                <th>10</th>
                                <th>11</th>
                                <th>12</th>
                                <th>13</th>
                                <th>14</th>
                                <th>15</th>
                                <th>16</th>
                                <th>17</th>
                                <th>18</th>
                                <th>19</th>
                                <th>20</th>
                                <th>21</th>
                                <th>22</th>
                                <th>23</th>
                                <th>24</th>
                                <th>25</th>
                                <th>26</th>
                                <th>27</th>
                                <th>28</th>
                                <th>29</th>
                                <th>30</th>
                                <th>31</th>
                            </tr>
        -->

        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><a title="Редагувати" href="">Подоба Віталій</a></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
        </tr>
        <tr>
            <td>2</td>
            <td><a title="Редагувати" href="">Захаров Олександр</a></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td><label>
                <input type="checkbox">
            </label></td>
        </tr>
        </tbody>
    </table>

{% endblock contetnt %}